*{
    
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    
    background: #2DFF00;
    
    min-height: 100vh;
    width: 100%;
    
    
    
    
}





#box{
    
    
    display: grid;
    grid-template-rows: 100px 200px 200px ;
    /* grid-template-columns: repeat(auto-fit, minmax(50vh, 90vh)); */
    grid-gap: 2px;
    
    
    
    
    /* height: 50vh; */
    width: 100%;
    
}





.bg-light{
    
    
    /* height: 30vh; */
    /* width: 100%; */

    border-radius: 61% 39% 36% 64% / 69% 35% 65% 31% ;
background: #ffffff;
box-shadow:  50px 50px 100px #666666,
             -50px -50px 100px #ffffff;
    
}



#search{
    
    background: #39FF00;
    
    
    width: 90%;
    
    margin-inline: auto;
}













/* #box1{
    
    
    background: #0040FF;    
    
    height: 30vh;
    width: 100%;
    
    
    
} */
