.card {
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 150px;
  background: url("https://res.cloudinary.com/practicaldev/image/fetch/s--8mUhEkXE--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_800/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/km2w1ppw3yw9pd9na7mu.gif");
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition:
    box-shadow 0.5s,
    opacity 0.5s;
  will-change: transform;
  touch-action: none;
}

.card::before {
  content: 'Literally me when working on React Bits.';
  position: absolute;
  width: 15ch;
  bottom: -60px;
  color: #fff;
}