@import "https://unpkg.com/open-props";





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* background: red !important; */
    
    min-height: 100vh;
    width: 100%;
}




























