

#home{
    background: red;
    max-width: 300px;    
    
}





.image_wrapper1o1{
    
    border-radius: 20%;    
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    
    width: 300px;
    height: 300px;
    
    position: relative;
    
    
}





.image1o1{
    
    position: relative;
    top: 10rem;
    
    /* border-radius: 50%; */    
    border: 2px solid #000000;
    
}
