body{
    
    --icon-color:hsla(217, 0%, 0%, 1);
    --glass-bg:rgba(255, 255, 255, 0.3);
    --body-bg:hsla(0, 0%, 100%, 1);
    --primary-bg:hsla(233, 100%, 97%, 1);
    --primary1o1-bg:hsla(233, 0%, 100%, 1);
    --primary1o2-bg:hsla(233, 27%, 25%, 1);
    
    --sidebar-bg:hsla(217, 0%, 100%, 1);
    --best-bg:hsla(217, 0%, 96%, 1);
    /* --modal-bg: #F4F7FF; */
    
    --border-color: 1px solid #EAEAEA;
    --border-color-sm: 0.5px solid #EAEAEA;
    --border-color-1o1: 1px solid #EAEAEA;
    --primary1o2-bg:hsla(233, 100%, 97%, 1);
    
    
    --homepage-bg:hsla(215, 0%, 100%, 1);
    

}
body.dark{
    
    --icon-color:hsla(217, 0%, 0%, 1);
    --glass-bg:rgba(255, 255, 255, 0.3);
    --body-bg:hsla(0, 0%, 100%, 1);
    --primary-bg:hsla(233, 100%, 97%, 1);
    --primary1o1-bg:hsla(233, 0%, 100%, 1);
    --primary1o2-bg:hsla(233, 27%, 25%, 1);
    
    --sidebar-bg:hsla(217, 0%, 100%, 1);
    --best-bg:hsla(217, 0%, 96%, 1);
    /* --modal-bg: #F4F7FF; */
    
    --border-color-sm: 0.5px solid #EAEAEA;
    --border-color: 1px solid #EAEAEA;
    --border-color-1o1: 1px solid #EAEAEA;
    --primary1o2-bg:hsla(233, 100%, 97%, 1);
    
    
    --homepage-bg:hsla(215, 0%, 100%, 1);
    

}

/* body{
    
    --primary1o2-bg:hsla(259, 0%, 100%, 1);
    
    --glass-bg:rgba(0, 0, 0, 0.26);
    --icon-color:hsla(217, 0%, 100%, 1);
    --body-bg: hsla(217, 0%, 0%, 1);
    --primary-bg:hsla(217, 9%, 9%, 1);
    --primary1o1-bg:hsla(217, 9%, 15%, 1);
    --sidebar-bg:hsla(217, 0%, 0%, 1);
    --best-bg:hsla(217, 64%, 10%, 1);
    --best-bg:#0F172A;
    --modal-bg: #0F172A;
    
    
    --border-color: 1px solid hsla(0, 0%, 9%, 1);
    --border-color-1o1: 1px solid #000000;
    
    
    --homepage-bg:hsla(215, 0%, 0%, 1);
    
} */


@media(min-width:900px){
    body.dark{
        --border-color: 2.5px solid hsla(242, 8%, 10%, 1);
        
        
    }

    
}
