@import url(./variables.css);

@keyframes menuPopup {

  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% { transform: scale(1.1); }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}


#small-sidebar{
    

    background: var(--sidebar-bg);
    border-right: var(--border-color);
    border-left: var(--border-color);
    /* display: flex; */
    /* flex-direction: column; */
    /* row-gap:30px; */
    /* column-gap: 30px; */
    overflow: hidden;
    /* animation: menuPopup 0.8s ease forwards; */
    transition: all 0.5s linear;
    
    height: 0  ;
    width: 0  ;
    
    position: fixed;
    top: 70px;
    left: 0;
    
    
    padding-top: 1rem;    
    z-index: 50;
}
#small-sidebar.active{
    
    width: 300px  ;
    min-height: 100vh  ;
}

#ss-ul{
    
    overflow-x: hidden;
    overflow-y: auto;
    display: flex  ;
    flex-direction: column  ;
    align-items: center;
    row-gap: 10px;
    /* height: 200rem  ; */
    height: 99vh;
    width: 100%  ;
    
    /* padding-top: 2rem  ; */
    padding-bottom: 150vh  ;
}

.ss-li #searchbar-container{
    background: red  ;
}

.ss-li{
    
    display: flex;
    align-items: center  ;
    column-gap: 30px;
    
    min-height: 50px;
    width: 250px;
    
    padding-left: 20px  ;
}
.ss-li:hover{
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 7px;
    border: var(--border-color);
    transition: all 0.5s linear;
}
.ss-li:hover,.st:hover{

    
    background: var(--primary1o1-bg);
    
    
}
/* .ss-li:last-child{
    
    background: red;
    border-bottom: var(--border-color);
} */


.strat-line{
    
    
    border-top: var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* row-gap: 10px; */
    
    min-height: 1000rem  ;
    width: 100%;
    
    /* padding-top: 1.5rem; */
    /* margin-top: 0.5rem; */
}
.c{
    
    margin-inline: auto  ;
}
.st{
    
    display: grid;
    place-items: center;
    border-bottom: var(--border-color);
    transition: all 0.5s linear  ;
    
    min-height: 60px;
    width: 100%;
    
    /* padding: 0 30px  ; */
    
}
.st-main{
    
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    place-items: center;
    /* border-bottom: var(--border-color); */
    
    height: 60px;
    width: 100%;
    
    padding: 0 30px  ;
    
}

.st.active1o1{
    
    grid-template-rows: 60px 150px;
    transition: all 0.5s linear;
    
    
}

.st.active1o1 ion-icon[name="chevron-forward-outline"]{
    
    transform: rotate(90deg)
}
.st.active1o1 .st-toggle{
    
    display: flex  ;
    
}
.st a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.st-toggle {
    
    
    /* overflow: hidden; */
    display: none;
    grid-row: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s linear  ;
    
    min-width: 100%  ;
    width: 150px  ;
    
}














#small-sidebar.close #ss-ul{
    
    padding-top: 2rem  ;
    /* padding: 1rem 0  ; */
}


#small-sidebar.close #ss-ul li{
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: var(--primary-bg);
    transition: all 0.5s linear  ;
    
    min-width: 50px  ;
    width: 50px  ;
    max-width: 50px  ;
    min-height: 50px  ;
    
    
    /* margin: 0  ; */
    /* padding: 0  ; */
}
@keyframes friday-glow{
    0%,100%{
        filter:hue-rotate(0deg);
    }
    /* 25%{
        
    } */
    50%{
        filter:hue-rotate(360deg);
    }
    /* 100%{
        
    } */
}

#small-sidebar.close #ss-ul li:hover{
    
    border-radius: 10px;
    animation: friday-glow 15s linear infinite;
    color: linear-gradient(to right, hsla(208, 100%, 50%, 1), hsla(174, 100%, 50%, 1))  ;
    
    /* box-shadow: 100px 100px 170px 0px rgba(255, 17, 17, 1); */
    background: linear-gradient(to right, hsla(208, 100%, 50%, 1), hsla(174, 100%, 50%, 1));
    /* filter: blur(200px); */
    
    
    
}
#small-sidebar.close #ss-ul li:hover ion-icon{
    
    animation: friday-glow 20s linear infinite;
    /* color: indigo  ; */
    color: #FFFFFF  ;
    /* color: linear-gradient(to right, hsla(208, 100%, 50%, 1), hsla(174, 100%, 50%, 1))  ; */
    
}










/*-----------------------------------*\
  #Media quires
\*-----------------------------------*/
@media(min-width:900px){
    
    
    
    /* #All khorafati{} */
    #small-sidebar.close{
        
        display: block  ;
        overflow: hidden;
        transition: none  ;
       
        
        width: 85px  ;
        min-height: 200vh  ;
        
        /* padding-left: 10px  ; */
        padding-top: 2rem  ;
        
        /* z-index: none  ; */
    }
    #small-sidebar.close .strat-line{
        
        padding-top: 1.5rem;
        margin-top: 3rem;
        
    }

    
    #small-sidebar.close li,#small-sidebar.close .st-main{
        
        
        overflow: hidden;
        display: flex  ;
        align-items: center;
        justify-content: center;
        
        height: 50px  ;
        max-width: 70px  ;
        
        
        margin: 0  ;
        padding: 0  ;
    }
    #small-sidebar.close a,#small-sidebar.close .st a,#small-sidebar.close ion-icon[name="chevron-forward-outline"]{
        display: none  ;
    }

    /* #small-sidebar ion-icon{
        
        min-width: 70px;
        
    } */
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    #small-sidebar.active{
        
        width: 300px  ;
        min-height: 200vh  ;
        
        transition: all 0.5s linear  ;
        
    }
    #small-sidebar.active a,
    #small-sidebar.active ion-icon[name="chevron-forward-outline"] {
        display: block  ;
    }    
    #small-sidebar.active li,#small-sidebar.active .st{
        
        max-width: 300px  ;
    }

    /* #small-sidebar.active .ss-li a{
        display: block;
    } */

    
    
}




/* .line{
    
    
    max-width: 90%  ;
    max-height: 10px  ;
    background: var(--primary-bg);
    background: red  ;
    
} */









/* .shadow-2xl{
    
    
    
} */
