*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #001a25;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

#toggle{
    position: fixed;
    bottom: 4vh;
    width: 60px;
    height: 60px;
    background: #03a9f4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50%;
}
#toggle::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 28px;
    background: #eff;
    transform: translateY(-5px);
    transition: 0.2%;
    
}
#toggle::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 28px;
    background: #eff;
    transform: translateY(5px);
    transition: 0.2%;
    box-shadow: 0 10px 0 0;
}
#toggle.active::before{
    transform: translateY(0px) rotate(45deg);

}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
    box-shadow: none;
    
}
#sidebar{
    
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
    top:0;
    left:-5000px;
    width: 100%;
    height: 8vh;
    background: black;
    transition-property: left;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    
    
}
ul{
    display: flex;
    flex-direction: row;
    width: 50.8vh;
    text-decoration: none;

}
#sidebar.active{
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
    
    
    
    
    
    /* display: grid;
    place-items: center;
     */
    
    
    
    
    
}
#sidebar ul{
    /* margin-top: 10vh; */
    
}
#sidebar ul li{
    width: 100%;
    padding: 3vh 0vh;
    text-align: center;
    
    list-style: none;


    
}
#sidebar ul li a{
    text-decoration: none;
    color: #eff;
    font-size: 2vh;
    letter-spacing: 2px;
    list-style: none;
    font-weight: 700;
    padding: 3vh;
}
#sidebar ul li:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 50px #03e9f4,
                0 0 200px #03e9f4,
                0 0 500px #03e9f4,
                0 0 2000px #03e9f4;
    

}