*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-size: 15pt;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card span{
    position: absolute;
    top: 0;
    height: 250px;
    width: 250px;
    display: block;
    background: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transform-origin: 125px 0;
    transform: rotate(calc(90deg * var(--i)));
    filter: blur(80px);
    opacity: 0.75;
}
.card span:nth-child(1){background-color: red;}
.card span:nth-child(2){background-color: yellow;}
.card span:nth-child(3){background-color: green;}
.card span:nth-child(4){background-color: orange;}
.card .glass{
    position: absolute;
    width: 400px;
    height: 285px;
    background: rgba(255,255,255,0.5);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 0.5px solid white;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    font-style: bold;
    font-size: 15vh;
}
.card .glass::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.1);
    pointer-events: none;
    transform: skewX(345deg);
}