:root{
    --COLOR1: #D4AECF;
    --COLOR1: #da52c7;
    
    --COLOR2: #E4ACB2;
    --COLOR2: #ff6272;
    
    --COLOR3: #FDD5B1;
    --COLOR3: #f78d31;
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    --COLOR4: #FAEDC0;

    --COLOR4: #ffe693;
    --COLOR4: #000000;
    --COLOR4: #0c0a0a;
}