* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

#segment3 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 8vh;
  width: 90%;
  margin-inline: auto;
  margin: 1rem;
  border-radius: 15px;
}
#segment3 #segment-item1 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 1em;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#segment3 #segment-item2 {
  font-size: 1em;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#segment3 #segment-item3 {
  font-size: 1em;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* padding-right: 1rem; */
}

#segment-indicator {
  width: 25%;
  min-width: 20%;
  min-height: 6vh;
  position: relative;
  bottom: 3.9rem;
  left: 1.6rem;
  border-radius: 5px;
  background: transparent;
  box-shadow: 35px 35px 70px #a1a1a1, -35px -35px 70px #ffffff;
  border: 1px solid #FFFFFF;
}
