:root {

/*-----------------------------------*\
  #Colors+Bg variables
\*-----------------------------------*/
    --white-best-bg:hsla(200, 30%, 96%, 1);
    --icon-color: #000000;
    --navbartop-bg: hsla(235, 0%, 100%, 1);
    --border-color-lg:2px solid #EAEAEA;
    --border-color: 1.5px solid #EAEAEA;
    
    
/*-----------------------------------*\
  Heights and widths
\*-----------------------------------*/
    --icon-size: 1rem;
    --pro-navbar-top-height:5.5rem;    
    --ripple-width: 500px;
    --ripple-height: 500px;
    
    
    
/*-----------------------------------*\
  Positions
\*-----------------------------------*/
    --ripple-top: 100px;
    --ripple-left: 100px;
    
}


*,
*::before,
*::after {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    color: hsla(283, 0%, 0%, 1) !important;
    
    list-style: none !important;
    text-decoration: none !important;
    
}
html {
    /* visibility: none !important; */
    /* min-height: 100vh !important; */
    /* width: 100% !important; */
}
body {
    /* min-height: 100%; */
    min-height: 100vh !important;
    width: 100% !important;

}
ion-icon {

    color: var(--icon-color) !important;
    font-size: var(--icon-size) !important;


}




/* =========================== NavbarTop ========================== */
#pro_navbar_top {

    background: var(--navbartop-bg);
    display: grid;
    grid-template-columns: var(--pro-navbartop-grid);
    border-bottom: var(--border-color);
    /* grid-gap:50px; */
    
    position: fixed;
    top: 0;
    left: 0;

    /* min-height: var(--navbartop-height); */
    min-height: var(--pro-navbar-top-height);
    width: 100%;
    
    z-index: 2;
    
    /* padding: 0 0.5rem !important; */
}
#pntlc,
#pntrc,
.pntcc,
.pntgc,
#search-container,.lg1,.rg1,.pntrcc,.pntlcc,.ptcci {

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* column-gap: 7% !important; */

}
.lg1,.rg1{
    
    min-width: 4rem !important;
    min-height: 4rem !important;
    
}
/* #pntcc{
    
    padding: 0.3vh;
} */
#search-container{
    
    /* background: hsla(235, 0%, 99%, 1); */
    background: transparent;
    border: var(--border-color);
    border-radius: 40px;
    column-gap: 7% !important;
    
    
    height: 3.3rem !important;
    width: 100%;
    
    /* padding: 2rem; */
}
#search-container input{

    background: transparent;
    border: 0;
    outline: none;

    width: 55%;



}

.icon-con{
    
    background: hsla(235, 100%, 98%, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    min-height: 3rem;
    min-width: 3rem;
    
    /* padding: 1rem; */
}

.pntcc{
    
    /* padding: 3rem 0 !important; */
}
#pntrc,#pntlc{
    
    column-gap: 1px;
}

#pro_sidebar_left::-webkit-scrollbar{
    display: none;
}
#pro_sidebar_left-ul1::-webkit-scrollbar{
    display: none;
}
#pro_sidebar_left-ul2::-webkit-scrollbar{
    display: none;
}
#pro_sidebar_left-ul3::-webkit-scrollbar{
    display: none;
}
#pro_sidebar_left-container{
    
    /* display: grid !important; */
    /* grid-template-rows: 4rem 1fr; */
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    
    position: fixed !important;
    top: 5.5rem;
    /* top: 10.5rem !important; */
    left: 0 !important;
    
    width: 10%;
    min-height: 100vh;
    
    /* padding-top: 0.5rem !important; */
    
    z-index: 0;
}
@keyframes menuPopup {

  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% { transform: scale(1.1); }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}

#pro_sidebar_left{
    
    border-right: var(--border-color);
    /* animation-name: menuPopup; */
    /* animation-duration: 2s; */
    transition: all linear 1s;    
    overflow-x: hidden;
    overflow-y: auto;
    
    height: 92vh;
    width: 100%;
    
    padding-bottom: 30rem !important;
}   
#pro_sidebar_left-ul1,#pro_sidebar_left-ul2{
    
    border-bottom: var(--border-color);
    /* border-top: var(--border-color); */
    
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    width: 100%;
    
    
}
#pro_sidebar_left-ul1{
    
    
    height: 25rem;
    
}
#pro_sidebar_left-ul2{
    
    background: #FFE8E8;
    height: 60rem;
}
#pro_sidebar_left-ul3{
    
    background: #E4FFE5;
    /* border-bottom: var(--border-color); */
    border-top: var(--border-color);
    
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    height: 20rem;
    width: 100%;
    
    /* padding-top: 2rem !important; */
    
}
#pro_sidebar_left-container ul li> ion-icon,#pro_sidebar_right > ion-icon,.sidebar-icons{
    
    font-size: 1rem !important;
}
/* =========================== NavbarTop ========================== */


/*///////////////////////////////  Others Navbars //////////////////////////////////*/
#youtube_ai_nav-container,#pro_sidebar_left-container,#pro_sidebar_right-container,#hello-mode-container,#friday,#pro-friday-container,#hello_mode_friends-search{
    display: none;
}   
#youtube_ai_nav-container{
    
    background: #FFFFFF;
    display: block !important;
    border-bottom: var(--border-color);
    
    width: 80%;
    min-height: 4.5em;
    
    position: fixed;
    top: 5.5rem;
    left: 10%;
    
    z-index: 2;
}
#yt_ai_nav{

    overflow-x: auto;
    overflow-y: hidden;
    display: flex !important;
    align-items: center;
    flex-direction: row !important;
    column-gap: 25px;
    
    
    width: 100%;
    height: 4.5em;
    
    padding: 0 1.5rem !important;
}
::-webkit-scrollbar{
    
    /* display: none; */
    /* width: 1rem; */
    display: none;
}
::-webkit-scrollbar-track{
    background: #FF9C9C;
    
}
::-webkit-scrollbar-thumb{
    background: #FF3C3C;
    width: 5rem;
}
.pro_sidebar_openers{
    
    background: #EDEDED;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    min-height: 2.9rem;
    min-width: 3rem;
    
    
    z-index: 50;
}
.pro_sidebar_openers-containers1,.pro_sidebar_openers-containers2{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pro_sidebar_openers-containers1{
    
    
    border-bottom: var(--border-color);
    min-height: 5.02rem;
    width: 100%;
    
    
}
.pro_sidebar_openers-containers2{
    
    height: 2rem;
    width: 100%;
}
#left_sidebar_opener-container2{
    
    border-right:var(--border-color-lg);
    
}
#right_sidebar_opener-container2{
    
    border-left: var(--border-color-lg);
}


/* =========================== Sidebar Right ========================== */
#pro_sidebar_right-container{
    
    display: block !important;
    background: hsla(174, 0%, 100%, 1);
    
    min-height: 5rem;
    min-width: 100%;
    
    
    position: fixed;
    right: 0;
    top: 5.5rem;
    
    /* z-index: 200 !important; */
}
#pro_sidebar_right{
    
    background: hsla(174, 0%, 100%, 1);
    animation-name: menuPopup;
    animation-delay: 2s;
    background: #F9F9FF;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 35px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
    place-items: center;
    
    position: fixed;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    
    min-height: 20vh;
    width: 50px !important;
    
    padding: 2rem !important;
    
    
    /* z-index: 5 !important; */
}
/* =========================== ESR End Sidebar Right ========================== */


/* =========================== Hello mode ========================== */
#hello-mode-container{
    
    display: block !important;
    /* background: #3344FF; */
    border-left: var(--border-color);
    
    max-height: 100vh;
    width: 10%;
    
    position: fixed;
    top: 10.5rem;
    right: 0;
    
    z-index: 50000 !important;
}
#hello-mode-analatic{
    
    
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 5rem;
    width: 100%;
    
    position: absolute;
    top: 0;
    
    
    z-index: 50000 !important;
}
#hello-mode-crud{
    
    
    /* background: #FFFFFF; */
    /* border-left: var(--border-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    
    min-height: 9rem;
    width: 100%;
    
    /* position: fixed; */
    /* right: 0; */
    /* bottom: 0; */
    
    /* margin-bottom: 1rem !important; */
    padding: 2rem 1.5rem !important;
    
    
}
#hello-mode-kushbhi,#hello-mode-add{
    
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: hsla(240, 100%, 98%, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    
    width: 4rem;
    /* height: 50rem !important; */
    
    /* margin-inline: auto; */
    padding: 1.3rem !important;
    
    
}
#hello-mode-main-container{
    
    /* background: red; */
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    /* column-gap: 35px; */
    row-gap: 20px;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    
    
    width: 100%;
    /* height: 90rem; */
    height: 100vh;
    
    padding-top: 4.5rem !important;
    padding-bottom: 35rem !important;
    
}
.hmmc_li{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    min-height: 3rem;
    
}
.hello_mode_image-container,.img-backup{
    
    background: red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    height: 3rem;
    width: 3rem;
}
#hello_mode_friends,#hello_mode_friends-search{
    
    display: block !important;
    
    min-height: 100vh;
    width: 360px;
    
}
.close-toggler ion-icon[name="close-outline"]{
    
    /* background: red; */
    /* color: red !important; */
    display: none;
    transition: all linear 5s;    
    
    
}
.close-toggler.active ion-icon[name="close-outline"]{
    
    display: block !important;
    transition: all linear 5s;    
    
}
.close-toggler.active ion-icon:nth-child(1){
    display: none;
    /* color: red; */
    transition: all linear 5s;    
    
}
.close-toggler:hover ion-icon{
    
    /* background: red; */
    color: red !important;
}
/* =========================== EHM End Hello mode ========================== */


/* =========================== Hello Friends Search ========================== */
#hello_mode_friends-search{
    
    /* display: block !important; */
    display: none !important;
    background: hsla(235, 0%, 100%, 1);
    overflow-x: hidden;
    overflow-y: auto;
    
    position: fixed;
    right: 0;
    top: 0;
    
    height: 100vh;
    width: 50%;
    
    z-index: 50000;
}
#hello-mode-top{
    
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    
    /* row-gap: 35px; */
    height: 10rem;
    width: 100%;
}
#segments{
    
    /* background: #AEFF8C; */
    border-bottom: var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
    height: 5rem;
    width: 100%;
    
    padding: 0 3rem !important;
    
}
#search-big-container{
    
    /* background: #4AFF00; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 5rem;
    width: 100%;
}

#search-big-container #search-container{
    
    
    width: 80% !important;
    height: 3.3rem !important;
    
    /* margin-inline: auto !important; */
}
#hello_mode_friends{
    
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    
    position: relative;
    /* top: 8rem; */
    
    height: 100vh;
    width: 100%;
    
    /* padding-top: 1rem !important; */
    padding-bottom: 5rem !important;
}
#hello_mode_friends li{
    
    background: var(--white-best-bg);
    /* border-bottom: var(--border-color); */
    border-bottom: 0.5px solid #383838;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    min-width: 100% !important;
    min-height: 7rem;
}
#hello_mode_friends-search img{
    
    
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
#teamcode{
    
    background: #FFE0E0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    /* color: #FFFFFF; */
    
    height: 5rem;
    width: 100%;
    
    position: absolute;
    bottom: 0;
    
    /* margin-inline: auto; */
}
#teamcode h1{
    color: #FFFFFF !important;
}
/* =========================== EHG End Hello Friends Search ========================== */


/* =========================== Friday ========================== */
#pro-friday-container{
    
    display: block !important;
    
    width: 90%;
    min-height: 1vh;
    
    position: fixed;
    bottom: 0;
    left: 10%;
    /* left: 0; */
    
    /* padding: 1rem 0 !important; */
    
    z-index: 1 !important;
}
#pro_friday_main-container{
    
    background: #FFFFFF;
    border-radius: 30px 30px 0px 0px;   
    /* box-shadow: -6px -1px 100px 0px #000; */
    border-top: var(--border-color);
    
    /* background: hsla(174, 100%, 67%, 1); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #FF5454; */
    /* position: relative; */
    /* left: 10%; */
    
    /* width: 80%; */
    width: 89%;
    min-height: 10rem;
    
    /* margin-inline: auto; */
    /* z-index: 40000; */
}
#pro_sidebar_scroller{
    
    display: block !important;
    background: hsla(235, 100%, 61%, 1);
    border: 1px solid hsla(235, 0%, 0%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    height: 3rem;
    width: 3rem;
    
    position: absolute;
    top: -5rem;
    left: -1.5rem;
    
    /* z-index:500; */
    /* margin-bottom: 2rem !important; */
}

@keyframes friday-glow{
    0%,100%{
        filter:hue-rotate(0deg);
    }
    /* 25%{
        
    } */
    50%{
        filter:hue-rotate(360deg);
    }
    /* 100%{
        
    } */
}
#pro_friday_glow{
    
    animation: friday-glow 8s linear infinite;
    /* box-shadow: 100px 100px 170px 0px rgba(255, 17, 17, 1); */
    /* filter: drop-shadow(-6px -75px 63px #000000) !important; */
    background: linear-gradient(to right, hsla(208, 100%, 50%, 1), hsla(174, 100%, 50%, 1));
    /* background: rgba(242, 246, 248, 1); */
    /* background: -moz-linear-gradient(left, rgba(242, 246, 248, 1) 0%, rgba(0, 153, 255, 1) 50%, rgba(181,198,208,1) 51%, rgba(224, 239, 249, 1) 100%); */


    height: 0.8rem;
    width: 100%;
    
    position: fixed;
    bottom: 0;
    left: 0;
    
    
    /* margin-inline: auto !important; */
    
    z-index: 50 !important;
}
#pro_friday_glow:before{
    
    
    /* animation: friday-glow 10s linear infinite; */
    background: linear-gradient(to right, hsla(208, 100%, 50%, 1), hsla(174, 100%, 50%, 1));
    filter: blur(40px);
    /* filter: drop-shadow(-6px -75px 9px #0015FF); */   
    /* filter: drop-shadow(-10% -20px 40px #59FF00); */    
    /* filter: drop-shadow( 90px -30px 25px #000000); */    
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 2rem;
    
}
#pro_friday_glow:after{
    
    /* animation: friday-glow 10s linear infinite; */
    background: linear-gradient(to right, hsla(208, 100%, 50%, 1), hsla(174, 100%, 50%, 1));
    filter: blur(40px);
    /* filter: drop-shadow(-6px -75px 63px linear-gradient(to right, hsla(208, 100%, 50%, 1), hsla(174, 100%, 50%, 1))) !important; */
    /* filter: drop-shadow( 90px -15px 25px #000000); */    
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 2rem;
    
}
/* =========================== EF End Friday ========================== */


/* =========================== Main ========================== */
/* #pro_main::-webkit-scrollbar{
    
    display: none;
} */
/* body::-webkit-scrollbar{
    
    display: none !important;
} */
/* *::-webkit-scrollbar{
    
    display: none !important;
} */
main{
    
    /* display: none !important; */
    /* background: hsla(235, 0%, 100%, 1); */
    /* background: var(--white-best-bg); */
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    top: 10.5rem;
    left: 10%;
    
    
    min-height: 100vh;
    width: 90%;
}
/* =========================== EM End Main ========================== */


/* ===========================/////////////////////////////////////////
/////////////////////////////////////   Media   ///////////////////////
/////////////////////////////////////////////========================== */
/* ===========================  Pc landscape   ========================== */
@media(max-height:368px) and (min-width:980px) {
    
    body{
        /* background: #FF0909; */
    }
    /* #pro_friday_glow{
        
        height: 5rem !important;
        background: #1C2FFF !important;
    } */
}
/* ===========================  PC ========================== */
@media(min-width:900px) {
    :root {

        --pro-navbartop-grid: 1.3fr 4fr 0.1fr 4fr 0.1fr 4fr 1.3fr;
        --navbartop-height: 40rem !important;


    }
    html{
        
        background: red;
        background: #FFFFFF;
        padding: 0 !important;
        margin: 0 !important;
    }
    .pc,.pro_sidebar_openers-containers1.pro_sidebar_openers,#pro_sidebar_right{
        display: block !important;
    }

    #mb_navbartop_toolbar,#pro_friday_bottom,.mb {
        display: none !important;
    }
}

/* ===========================  Mb  ========================== */
@media(min-width:360px) and (max-width: 900px) {
    :root {
        --mb-op-nav-top-po: 71px;
        --pro-navbartop-grid: 1.5fr 4fr 50px 4fr 1.5fr;
        --navbartop-height: 10rem !important;
        
        
    }
    .pc,#pro_navbar_top,#youtube_ai_nav-container,#pro_sidebar_left-container,#pro_sidebar_right-container,#hello-mode-container,#pro-friday-container{
        display: none !important;
    }
    .mb {
        display: block !important;
    }
    main{
        
        background: var(--white-best-bg);
        width: 100% !important;
        min-height: 200vh;
        
        left: 0;
        top: 140px;
        
        z-index: none !important;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    #pntcc{
        display: none !important;
    }
    #pro_navbar_top{
        
        overflow-y: hidden;
        overflow-x: auto;
        display: grid !important;
        grid-template-columns: 1fr 3fr 3fr 1fr !important;
        grid-template-rows: 72.5px;
        place-items: center;
        min-width: 360px !important;
        min-height: 72.5px !important;
        max-height: 70px !important;
        height: 70px !important;
        padding: 0 10px !important;
    }
    #pntlc,#pntrc,.pntgc{
        
        grid-row: 1/2;
    }
    #pntlc,#pntrc{
        
        align-items: left !important;
        justify-content: left !important;
        
        overflow-x: auto;
        overflow-y: hidden;
        
        max-width: 107px !important;
        width: 107px !important;
        min-width: 107px !important;
    }
    #pntrc{
        
        background: red;
        align-items: right !important;
        justify-content: right !important;
        
        
        
    }
    #pntcc{
        
        background: #FFFFFF;
        display: flex !important;
        display: none !important;
        align-items: center;
        justify-content: center;
        background: #3442FF;
        width: 100% !important;
        min-height: 75px !important;
        height: 75px !important;
        
        position: fixed;
        top: 74px;
        left: 0;
        
        padding: 6px 20px !important;
        
        z-index: 2 !important;
    }
    #search-container{
        
        border: none !important;
        background: #F7F8FF;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        column-gap: 10% !important;
        
        width: 90% !important;
        height: 50px !important;
        
    }
    .icon-con{
        
        min-height: 35px;
        max-height: 35px;
        min-width: 35px;
        max-width: 35px;
        height: 30px !important;
        width: 30px !important;
        background: #DADADA;
    }
    .pntgc .icon-con{
        
        background: #FF3E3E !important;
        
        min-height: 45px !important;
        max-height: 45px !important;
        min-width: 45px !important;
        max-width: 45px !important;
        height: 45px !important;
        width: 45px !important;
        
    }
    #mb_navbartop_toolbar{
        
        background: #3849FF;
        display: grid;
        grid-template-columns: 1fr 50px 1fr;
        
        height: 20px;
        width: 300px;
        
        position: fixed;
        top: 70px;
        left: 50%;
        transform: translate(-50%,-50%);
        
        z-index: 5000 !important;
    }
    #mb_navbartop_toolbar.mb_navbartop2_toolbar1 .mntt1-icon-containers{
        
        
    }
    #mntt1,#mntt2{
        
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
        
        
    }
    .mntt1-icon-containers,.mntt2-icon-containers{
        
        background: #F4F5FF;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 25px;
        width: 25px;
        
    }
    #pro-friday-container{
        
        display: none !important;
        border-radius: 20px 20px 0px 0px !important;        
        display: flex !important;
        align-items: center;
        justify-content: center;
        
        background: #FFFFFF !important;
        
        
        min-height: 50vh;
        width: 100% !important;
        
        position: fixed !important;
        bottom: 0 !important;
        left: 0 !important;
        
        z-index: 50 !important;
    }
    #pro_friday_main-container{
        
        background: #FFFFFF;
        border-radius: 20px 20px 0px 0px !important;        
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column;
        
        
        height: 50vh;
        width: 100% !important;
        
        z-index: 50 !important;
    }
    #pro_friday_bottom{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        position: absolute;
        bottom: 5vh;
        left: 0;
        
        height: 5vh;
        width: 100%;
        
        padding: 0 5vh !important;
        
    }
    #pro_friday_bottom ion-icon{
        
        color: red;
    }
    
    #pro_friday_glow{
        
        max-height: 1.3vh;
        background: #FFA5A5;
        
        z-index: 51 !important;
        
    }
    #youtube_ai_nav-container{
        
        background: #5260FF;
        border-top: 1px solid #F4F5FF;
        display: flex !important;
        
        position: fixed;
        left: 0;
        top: 74px;
        position: fixed !important;
        bottom: 50px !important;
        top: var(--mb-op-nav-top-po) !important;
        left: 0 !important;
        
        max-height: 60px !important;
        min-height: 10px !important;
        width: 100% !important;
        
        padding: 0 !important;
        margin: 0 !important;
        
        z-index: 1 !important;
        
    }
    #yt_ai_nav{
        
        max-height: 60px !important;
    }
    #pro_sidebar_left-container{
        
        display: none !important;
        display: flex !important;
        flex-direction: row;
        
        
        
        min-height: 60px !important;
        height: 60px !important;
        width: 100% !important;
       
       
        top: 74px !important;
        
        
        z-index: 3000 !important;
    }
    #pro_sidebar_left{
        
        background: red;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        
        
        height: 65px !important;
        min-height: 60px !important;
        width: 100% !important;
        
        position: fixed !important;
        top: 74px !important;
        left: 0 !important;
        
        
        padding: 0 !important;
        
        
        z-index: none !important;
    }
    #pro_sidebar_left-container ul{
        
        background: transparent !important;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        overflow-x: auto !important;
        overflow-y: hidden !important;
        border-bottom: none !important;
        border-top: none !important;
        
        height: 65px;
        max-height: 65px !important;
        min-width: 300px;
        width: 100px;
        max-width: 360px !important;
    }
    #pro_sidebar_left-container ul li{
        
        background: hsla(174, 100%, 71%, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #pro_sidebar_left-ul1{
        
        background: red !important;
        
        padding: 0 !important;
        margin: 0 !important;
    }   
    #pro_sidebar_left-container:nth-child(2){
        
        background: red;
        width: 300px !important;
    }
    .pro_sidebar_openers-containers1{
        
        min-height: 1px;
        display: none;
        background: hsla(174, 100%, 71%, 1) !important;
    }    
    .pro_sidebar_openers{
        
        display: none !important;
    }
    #hello-mode-container{
        
        
        display: block !important;
        background: #FFFFFF;
        
        position: fixed;
        top: 74px;
        left: 0;
        
        width: 100%;
        
        z-index: 1 !important;
        
    }
    #hello-mode-main-container{
        
        background: red;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        column-gap: 35px;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: row !important;
        
        
        width: 360px;
        height: 90rem;
        min-height: 75px;
        height: 75px;
        
        padding: 0 !important;
        margin: 0 !important;
        
        padding-top: 4.5rem !important;
        padding-bottom: 35rem !important;
        
        z-index: 0 !important;
    }
    #hello-mode-main-container li{
        
        height: 75px !important;
        min-width: 55px;
    }
    #hello-mode-crud{
        
        background: #B1B7FF;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        
        min-width: 120px !important;
        width: 120px !important;
        height: 75px !important;
        min-height: 75px !important;
        
        padding: 0 !important;
        margin: 0 !important;
        
        margin-left: 5px !important;
    }
    #hello-mode-kushbhi,#hello-mode-add{
        
        height: 50px;
        width: 50px;
        
        
        padding: 0 !important;
        margin: 0 !important;
    }
    #hello-mode-analatic{
        
        display: none !important;
    }
    
    
    
    
    
    
    
    
    
    
    
    .mb_navbartop2_show{
        
        display: block !important;
    }
    body.mb_navbartop2_toolbar {
        
        display: block !important;
    }
    
    
    body #search-container.show{
        
        display: block !important;
        z-index: 50000 !important;
        background: red;
    }
    #search-container.hide,youtube_ai_nav-container.hide{
        background: red;
        display: none !important;
    }











} */
/* ===========================  EndMedia quires  ========================== */






.ripple{
    
    background: #FFDFDF;
    min-height: 50px;
    min-width: 50px;
    overflow: hidden !important;
    
    position: relative !important;
    
}

@keyframes ripples {
  0%{
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: var(--ripple-width);
    height: var(--ripple-height);
    opacity: 0.2;
  }
}
.ripples{

  /* overflow: hidden !important; */
  position: absolute;
  top: var(--ripple-top);
  left: var(--ripple-left);
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  animation: ripples 1s linear infinite;
  
}




/* #pro_sidebar_right,#pro_sidebar_left,#pro_sidebar_left-container,#pro_sidebar_right-container,.pro_sidebar_openers,.pro_sidebar_openers-containers1,.pro_sidebar_openers-containers2{
    display: block !important;
    background: red;
    z-index: 4000 !important;
we have to fix some your problems
    
    
} */
/* .pntcc{
} */
/* #search-container{
    
    background: red;
} */











































.pro_sidebar_openers{
    
    background: #EDEDED;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    min-height: 2.9rem;
    min-width: 3rem;
    
    
    z-index: 50;
}
.pro_sidebar_openers-containers1,.pro_sidebar_openers-containers2{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pro_sidebar_openers-containers1{
    
    
    border-bottom: var(--border-color);
    min-height: 5.02rem;
    width: 100%;
    
    
}

.pro_sidebar_openers-containers2{
    
    height: 2rem;
    width: 100%;
}


#left_sidebar_opener-container2{
    
    border-right:var(--border-color-lg);
    width: 50px;
    height: 50px;
    
}
#right_sidebar_opener-container2{
    
    border-left: var(--border-color-lg);
}



/* ===========================   Never give up   ========================== */

                                                                                                                                                                        
