@charset "UTF-8";
/* Importing😁😁😁 */
/* @import "./components"; */
/* @import "./src"; */
/* Using it😎😎😎 */
/* @include navbar1; */
#add-icon {
  position: fixed;
  font-size: 4rem;
  left: 70%;
  top: 75vh;
}
