@import url(./variables.css);

/* .pnt-it1 ion-icon[name="close-outline"],#pnt-it5 ion-icon[name="moon-outline"]{
    display: none;
} */
.pnt-it1 ion-icon[name="close-outline"],#pnt-it5 ion-icon[name="sunny-outline"]{
    display: none;
}

#pro_navbartop_container{
    
    /* background:
    rgba( 255, 255, 255, 0.5 ); */
    /* box-shadow:
    0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter:
    blur( 10.5px );
    -webkit-backdrop-filter:
    blur( 10.5px );
    
    /* border-radius:
    10px; */
    /* border:
    1px solid rgba( 255, 255, 255, 0.18 ); */    
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-bottom: var(--border-color);
    background: var(--glass-bg);
    
    height: 70px;
    width: 100%  ;
    
    position: fixed;
    top: 0;
    left: 0;
    
    padding: 0 3%;
    
    z-index: 5001;
}


/* #pro_navbartop_container img{
    
    min-height: 45px;
    min-width: 45px;
    
} */


#pro_navbartop_container ul {

  overflow-x: auto;
overflow-x: hidden;  
    display: grid;
    grid-template-columns: 45px 35px 45px auto 35px 35px 45px;
    column-gap: 7px;

    height: 70px;
    width: 100%  ;


    z-index: 100  ;
}

.pnt_divider {



    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.pnt_divider img {

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: var(--primary1o2-bg);

    height: 50px;
    width: 50px;

}

.pnt-li{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* height: 50px; */
    min-width: 100%;
}
.pnt-it{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pnt-it1,#pnt-it4,#pnt-it5,#pnt-it2,#login_header .icon{
    
    background: var(--primary-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 35px;
    width: 35px;
}
.pnt-it1,.pnt-profile{
    
    height: 40px;
    width: 40px;

}


.pnt-profile{
    
    /* background: red; */
    padding-right: 4px;
    
}
/* #pnt-in{
    
    font-size: 20px;
    color: #000000;
} */











#pnt-it5.active ion-icon[name="sunny-outline"] {
    display: block;
}

#pnt-it5.active ion-icon[name="moon-outline"] {
    display: none;
}
#pro_navbartop_container .wallet{
    
    border: var(--border-color)  ;
    font-size: 10px  ;
    padding: 0.8rem;
}































@media(min-width:900px){
    .p-s-d{
        
      left: 70%  ;
      
    }
    
    .pc{
        display: block  ;
    }
    .mb{
        
        display: none  ;
    }
    
    #pnt-lg{
        
        /* background: red; */
        width: 60px  ;
        height: 60px  ;
    }
    #pnt-lg img{
        
        
        height: 55px  ;
        width: 55px  ;
    }

    
    #pro_navbartop_container ul{
        
        
        grid-template-columns: 40px 35px 35px auto 150px;
        grid-gap: 25px;
    }

}












#pro_navbartop_container li{
    
    min-width: 100%  ;
    
}







.notifications-container{
    
    display: none  ;
    
}
.notifications-container *{
    
    font-size: 20px  ;
    /* color: red  ; */
}

.notifications-container.show{
    
    display: grid  ;
    background: var(--primary-bg)  ;
    
    position: relative  ;
    top: 70px;
    right: 0  ;
    margin-inline: auto  ;
    
    

    z-index: 10000  ;
}
.notifications-container.show .drop__card{
    
    background: var(--primary1o1-bg)  ;
    
}


    .notifications-toggler.close ion-icon[name="notifications-outline"]{
        
        display: none  ;
    }
    
    .notifications-toggler.close ion-icon[name="close-outline"]{
        
        display: block  ;
    }






@media(min-width:900px){
    
    
    .notifications-container{
        
    display: none  ;
    position: fixed  ;
    top: 70px  ;
    right: 50px  ;
    margin: 0  ;
        
    }
    .notifications-container.show{
        
        display: grid  ;
        background: var(--primary-bg)  ;
        
        position: fixed  ;
        top: 70px  ;
        left: 80px  ;
        margin: 0  ;
        
        z-index: 10  ;
    }
    
    .notifications-container.show .drop__card{
        
        background: var(--primary1o1-bg)  ;
        
    }
    
}





.navbar-end{
  
 
  min-height: 70px  ;
  height: auto;
  min-width:100%  ;
  display: flex  ;
  align-items: center;
  justify-content: right;
  flex-direction: row  ;
  column-gap: 1px;
   
   
}

.navbar-end svg{
  
  max-width: 30px;
  max-height: 30px;
}

.dn{
  
  display: none  ;
}







.wallet-adapter-modal-wrapper{
  
  min-height: 600  ;
  
}







.navbar-end{
    
    
    overflow-y: hidden;
  overflow-x: auto;    
}





.btn{margin: 0;padding: 0;}


.p-s-d{
    
  display: none  ;
  border-radius: 10px;
  background: var(--primary-bg);
  position: fixed  ;
  top: 72px  ;
  left: 0  ;
  
  
  flex-direction: column  ;
  row-gap: 5px  ;
  align-items: center;
  justify-content: center;
  
  min-height: 200px  ;
  width: 300px  ;
  max-width: 300px  ;
}


.p-s-d li{

  display: flex  ;
 
flex-direction: row  ;  
  align-items: center;
  justify-content: center;
   
  width: 300px;
  
  
}






/* .p-s-d-toggler::before{
    
    content: "";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: red;
    
    position: absolute;
    top: 0;
    left: 0;
    
    height: 5px;
    width: 5px;
    
    
} */
    .high-lighter{
        
        min-width: 15px  ;
        min-height: 15px  ;
        font-size: 5px  ;
        color: #FFFFFF  ; 
        
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF0000;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        
        
        position: relative;
        top: -10px;
        right: 10px;
        
    }    


    .notifications-toggler > div{
        
        /* background: red; */
        position: relative;
        background: transparent  ;
        
        /* width: 35px; */
        /* height: 35px; */
    }
    /* .notifications-toggler > div{
        
    } */  
    .notifications-toggler .main-ic{
        
        background: var(--primary-bg)  ;
        /* background: red  ; */
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: 20px  ;
        min-width: 36px  ;
        min-height: 35px  ;
        
        
        /* margin-left: 20px  ; */
        
    }
    
    .notifications-toggler:hover .high-lighter{
        
        /* display: hidden  ; */
        visibility: hidden;
    }
/* .notifications-toggler div::after{
    
    content: "";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: red;
    
    position: absolute;
    top: 0;
    left: 0;
    
    height: 5px;
    width: 5px;
    
    
} */




.wallet-adapter-button{
  
  display: flex;
  align-content: center;
  justify-content: center;
  
  width: 100%;
  max-width: 150px;
  
  text-overflow: ellipsis;
  text-align: center;
  
  
  padding: 0  ;
}
.wallet-adapter-button *{
    
    z-index: 20000  ;
    /* background: red  ; */
    /* color: red  ; */
    
}





/* .pnt-lg img{
    
    min-width: 100px  ;
    min-height: 200px  ;
    
} */
