*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






body{
    
    
    min-height: 100vh;
    width: 100%;
    
}








#touch{
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #000000;
    
    height: 3.5rem;
    width: 18%;
    
    position: relative;
    left: 0;
    top: 0;
    
}
