:root {
  --bg-blue: #0d6efd;
  --bg-indigo: #6610f2;
  --bg-purple: #6f42c1;
  --bg-pink: #d63384;
  --bg-red: #dc3545;
  --bg-orange: #fd7e14;
  --bg-yellow: #ffc107;
  --bg-green: #198754;
  --bg-teal: #20c997;
  --bg-cyan: #0dcaf0;
  --bg-white: #fff;
  --bg-gray: #6c757d;
  --bg-gray-dark: #343a40;
  --bg-primary: #0d6efd;
  --bg-secondary: #6c757d;
  --bg-success: #198754;
  --bg-info: #0dcaf0;
  --bg-warning: #ffc107;
  --bg-danger: #dc3545;
  --bg-light: #f8f9fa;
  --bg-dark: #343a40;
  --bg-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bg-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bg-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) ;
  
  
  
  
  
  
  
  --bg-red:#73FFB5;
  
  
  
  
  
  
  
  
  
}



