@import "tailwindcss";
/* @import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities); */

:root {

  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}


@theme {
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 1500px;

  /* Colors */
  --color-*: initial;
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));


  /* Animations */
  --animate-*: initial;
  /* --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
   --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
   --animate-bounce: bounce 1s infinite; */
  --accordion-down: accordion-down 0.2s ease-out;
  --accordion-up: accordion-up 0.2s ease-out;

  /* Blurs */
  /* --blur-*: initial; */
  /* --blur-sm: 4px;
   --blur-md: 12px;
   --blur-lg: 16px;
   --blur-xl: 24px;
   --blur-2xl: 40px;
   --blur-3xl: 64px; */

  /* Radius */
  --radius-*: initial;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* --radius-sm: 0.125rem;
   --radius-md: 0.375rem;
   --radius-lg: 0.5rem;
   --radius-xl: 0.75rem;
   --radius-2xl: 1rem;
   --radius-3xl: 1.5rem; */

  /* Shadows */
  /* --shadow-*: initial; */
  /* --shadow-xs: 0 1px rgb(0 0 0 / 0.05);
   --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
   --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
   --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
   --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
   --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
   --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05); */

  /* Inset shadows */
  /* --inset-shadow-*: initial; */
  /* --inset-shadow-sm: inset 0 1px 1px rgb(0 0 0 / 0.05);
   --inset-shadow: inset 0 2px 4px rgb(0 0 0 / 0.05); */

  /* Drop shadows */
  /* --drop-*: initial; */
  /* --drop-shadow-sm: 0 1px 1px rgb(0 0 0 / 0.05);
   --drop-shadow-md: 0 4px 3px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.06);
   --drop-shadow-lg: 0 10px 8px rgb(0 0 0 / 0.04), 0 4px 3px rgb(0 0 0 / 0.1);
   --drop-shadow-xl: 0 20px 13px rgb(0 0 0 / 0.03), 0 8px 5px rgb(0 0 0 / 0.08);
   --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 0.15); */

  /* Spacing */
  /* --spacing--*: initial; */
  /* --spacing-0: 0px;
   --spacing-0_5: 0.125rem;
   --spacing-1: 0.25rem;
   --spacing-1_5: 0.375rem;
   --spacing-2: 0.5rem;
   --spacing-2_5: 0.625rem;
   --spacing-3: 0.75rem;
   --spacing-3_5: 0.875rem;
   --spacing-4: 1rem;
   --spacing-5: 1.25rem;
   --spacing-6: 1.5rem;
   --spacing-7: 1.75rem;
   --spacing-8: 2rem;
   --spacing-9: 2.25rem;
   --spacing-10: 2.5rem;
   --spacing-11: 2.75rem;
   --spacing-12: 3rem;
   --spacing-14: 3.5rem;
   --spacing-16: 4rem;
   --spacing-20: 5rem;
   --spacing-24: 6rem;
   --spacing-28: 7rem;
   --spacing-32: 8rem;
   --spacing-36: 9rem;
   --spacing-40: 10rem;
   --spacing-44: 11rem;
   --spacing-48: 12rem;
   --spacing-52: 13rem;
   --spacing-56: 14rem;
   --spacing-60: 15rem;
   --spacing-64: 16rem;
   --spacing-72: 18rem;
   --spacing-80: 20rem;
   --spacing-96: 24rem; */

  /* Widths */
  /* --width-*: initial; */
  /* --width-2xs: 18rem;
   --width-xs: 20rem;
   --width-sm: 24rem;
   --width-md: 28rem;
   --width-lg: 32rem;
   --width-xl: 36rem;
   --width-2xl: 42rem;
   --width-3xl: 48rem;
   --width-4xl: 56rem;
   --width-5xl: 64rem;
   --width-6xl: 72rem;
   --width-7xl: 80rem;
   --width-prose: 65ch; */

  /* Fonts */
  /* --font-family-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
     'Segoe UI Symbol', 'Noto Color Emoji';
   --font-family-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
   --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
     'Courier New', monospace; */

  /* Type scale */
  /* --font-size-*: initial; */
  /* --font-size-xs--line-height: 1rem;
   --font-size-sm: 0.875rem;
   --font-size-sm--line-height: 1.25rem;
   --font-size-base: 1rem;
   --font-size-base--line-height: 1.5rem;
   --font-size-lg: 1.125rem;
   --font-size-lg--line-height: 1.75rem;
   --font-size-xl: 1.25rem;
   --font-size-xl--line-height: 1.75rem;
   --font-size-2xl: 1.5rem;
   --font-size-2xl--line-height: 2rem;
   --font-size-3xl: 1.875rem;
   --font-size-3xl--line-height: 2.25rem;
   --font-size-4xl: 2.25rem;
   --font-size-4xl--line-height: 2.5rem;
   --font-size-5xl: 3rem;
   --font-size-5xl--line-height: 1;
   --font-size-6xl: 3.75rem;
   --font-size-6xl--line-height: 1;
   --font-size-7xl: 4.5rem;
   --font-size-7xl--line-height: 1;
   --font-size-8xl: 6rem;
   --font-size-8xl--line-height: 1;
   --font-size-9xl: 8rem;
   --font-size-9xl--line-height: 1; */

  /* Letter spacing */
  /* --letter-spacing--*: initial; */
  /* --letter-spacing-tight: -0.025em;
   --letter-spacing-normal: 0em;
   --letter-spacing-wide: 0.025em;
   --letter-spacing-wider: 0.05em;
   --letter-spacing-widest: 0.1em; */

  /* Line-height */
  /* --line-height-*: initial; */
  /* --line-height-tight: 1.25;
   --line-height-snug: 1.375;
   --line-height-normal: 1.5;
   --line-height-relaxed: 1.625;
   --line-height-loose: 2;
   --line-height-3: 0.75rem;
   --line-height-4: 1rem;
   --line-height-5: 1.25rem;
   --line-height-6: 1.5rem;
   --line-height-7: 1.75rem;
   --line-height-8: 2rem;
   --line-height-9: 2.25rem;
   --line-height-10: 2.5rem; */

  /* 3D perspectives */
  /* --perspective--*: initial; */
  /* --perspective-near: 300px;
   --perspective-normal: 500px;
   --perspective-midrange: 800px;
   --perspective-distant: 1200px; */

  /* Transition timing functions */
  /* --transition-timing-function-*: initial; */

  /* --transition-timing-function-in: cubic-bezier(0.4, 0, 1, 1);
   --transition-timing-function-out: cubic-bezier(0, 0, 0.2, 1);
   --transition-timing-function-in-out: cubic-bezier(0.4, 0, 0.2, 1); */
  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }



  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }


  /* @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes ping {

    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  } */

  /* --color-background: red; */

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.border,.border-t,.border-b,.border-l,.border-l,.border-r{
  border-color: hsl(var(--border));
}