:root{
    
    --join_signin_toggle:0;    
    
    
}



*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    
    min-height: 200vh;
    width: 100%;
    
    position: relative;
    
}
























@keyframes menuPopup {

  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% { transform: scale(1.1); }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}







#join-signin_container.show_join_signin_container{
    display: flex !important;
    
}


#join-signin_container{
    
    /* display: none !important; */
    /* display: block !important; */
    background: hsla(144, 0%, 100%, 1);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    display: flex;
    animation: menuPopup 0.5s ease forwards;
    overflow-x: hidden;
    /* overflow-x: auto; */
    overflow-y: hidden;
    
    /* position: absolute; */
    /* top: 0; */
    position: relative;
    top: 0;
    
    padding-top: 0.5rem;
    margin-inline:auto;
    padding-bottom: 0.5rem;
    
    
    min-height: 30rem;
    max-width: 330px;


    transition: all 1s ease-in-out;
    
}
/* #join-signin_container.forms_toggle{
    overflow-x: auto;
    
} */


.forms{
    
    background: transparent;
    display: flex;
    flex-direction: row;
    
    min-width: 660px;
    min-height: 30rem;
    
    transform: translateX(var(--join_signin_toggle));
    transition: all 0.5s ease-in-out;
    
    /* transform: translateX(-330px) */
}
.forms.forms_toggle{
    
    transform: translateX(-330px);
    transition: all 0.5s ease-in-out;
    /* transform: all ease linear; */
    
}

/* #form1{
    transform: translateX(-200px)
} */
#join-container,#signin-container{
    
    /* box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 7px;
    
    
    padding: 0 1rem;
    /* padding-top: 1rem; */
    /* margin-inline: auto; */
    /* margin-top: 3rem; */
    
    min-height: 30rem;
    width: 330px;
    
    
}    



.input-containers{
    
    border: 1px solid #eaeaea;
    /* border: 1px solid #000000; */
    width: 95%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    column-gap: 7px;
    padding: 1rem;
}


input{
    
    
    background: transparent;
    color: #00FF91;
    outline: none;
    border: none;
    caret-color: #000000;
    
    
    font-style: bold;
    font-weight: 500;
    
    
    min-width: 90%;

    
}



#others-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    padding: 1rem 0;
    
    
    width: 100%;    
}


#social_login_header,.circle{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

 #social-login-container{
    
    
    background: #FFFFFF;
    border: 1px solid #eaeaea;
    
    
    
    width: 100%;
    min-height: 5rem;
    
    
    column-gap: 7px;
    margin-top: 1rem;
}
#join-signin_container.scale #social-login-container{
    
    padding-bottom: 1rem;
    
}

#social_login_header{
    
    /* border: 1px solid #eaeaea; */
    background: hsla(170, 0%, 100%, 1);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 5px;
    
    
    min-height: 5rem;
    width: 100%;
    
}

.circle{
    
    background: hsla(0, 0%, 96%, 1);
    color: hsla(0, 0%, 0%, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    
    height: 48px;
    width: 48px;
    /* padding: 1rem; */
    
}


#social_login_toolbar{
    
    display: none;
    
    position: relative;
    transition: all 1s ease-in-out;
    
    margin-inline: auto;
    
    min-height: 5rem;
    width: 90%;
}
#join-signin_container.scale #social_login_toolbar{
    
    background: #F7F7F7;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all 1s ease-in-out;
    
}
#line1{
    
    background: hsla(0, 0%, 83%, 1);
    height: 1px;
    width: 100%;
}
#line2{
    
    background: hsla(0, 0%, 83%, 1);
    height: 1px;
    width: 100%;
}






#or-container{
    
    
    /* margin-top: 0.5rem; */
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    place-items: center;
    
    width: 98%;
    height: 3rem;
    
    
    
}



#or-container h1{
    text-align: center;
}

#btn{
    
    
    background: hsla(224, 29%, 0%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
    color: hsla(224, 0%, 100%, 1);
    
    width: 95%;
    height: 1.5rem;
    
    padding: 1.5rem;
    
    
}

#wallet_connect-login-container{
    
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* place-items: center; */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    
    width: 100%;
    height: 1.5rem;
    
    padding: 1.5rem;
    /* margin-bottom: 1rem; */
}






#join-container h1,#signin-container h1{
    
    text-align: center;
    font-size: 2.5rem;
    
    margin-bottom: 0.2rem;
    /* margin-top: 1rem; */
}
#join-container h2,#signin-container h2{
    
    text-align: center;
    font-size: 1.5rem;
    
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    /* margin-top: 1rem; */
}

#join-container a,#signin-container a{
    
    color: hsla(144, 100%, 71%, 1);
}







#openbtn{
    
    background: hsla(144, 100%, 71%, 1);
    
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* transform: translate(-50%,-50%); */
    position: absolute;
    bottom: 0;
    
    padding: 1rem;
    
    
}






.icons{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}