*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
    



body {
    
    min-height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    
    padding-top: 3rem;
    
    
}



#canvas{
    
    border-radius: 25px;
    
    
    margin-inline: auto;
    
    height: 25vh;
    /* width: 90%; */
    
    
}
