@import url(./pro_navbartop.css);
@import url(./small-sidebar.css);
@import url(./animations.css);
@import url(./variables.css);
@import url(./login.css);

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap'); */

*{
    color: var(--icon-color) !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    /* font-family: 'Playfair Display', serif; */    
}
html{
    
    width: 100% !important;
}
body{
    
   
    background: var(--body-bg);
    min-height: 100vh !important;
    width: 100% !important;
}
ul,li,h1,h2,h3,h5,h5,h6{
    margin: 0 !important;
    padding: 0 !important;
}


main{
    
    background: var(--body-bg);
    min-height: 300vh;
    width: 100%;
    
    position: relative;
    top: 0;
    left: 0;
    
    padding-top: 80px !important;
    
    z-index: 0;
}
.gradient-text,h1,h2,h3,h4,h6{
        text-align: center;
        background: var(--gradient-1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        width: 100%;
}


.overlay{
    
    display: none;
    background: #000000;
    opacity: 0.50;
    min-height: 200vh !important;
    width: 100%;
    
    position: fixed;
    /* top: 50px; */
    left: 0;
    
    z-index: 50 !important;
}
.overlay.active{
    /* display: block; */
}


@media(min-width:900px){
    
    main{
        
        min-height: 150vh;
        
        left: 70px;
        
    }
    /* main h1{
        
        background: var(--gradient-1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    } */
}


