* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* only for development🙄🙄🙄 */
    /* border: 1.5px solid #30FFA7; */
    
}

body {
    min-height: 100vh;
    width: 100%;

}






















/* Image And Video📷 */
img {
    width: 95%;
    height: 40vh;
    position: relative;
    left: 10%;
    
}
video {
    width: 95%;
    height: 50vh;
    margin-inline: auto;
    

}







                                                                                                                                                                                                                                                                                                                                               
