/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(135deg, #8B55E9 0%, #5D6BE6 100%)
}
.wrapper{
  visibility: hidden;
  position: absolute;
  width: 300px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
.wrapper .menu{
  padding: 10px 12px;
}
.content .item{
  list-style: none;
  font-size: 22px;
  height: 50px;
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 0 5px 0 10px;
}
.content .item:hover{
  background: #f2f2f2;
}
.content .item span{
  margin-left: 8px;
  font-size: 19px;
}
.content .setting{
  display: flex;
  margin-top: -5px;
  padding: 5px 12px;
  border-top: 1px solid #ccc;
}
.content .share{
  position: relative;
  justify-content: space-between;
}
.share .share-menu{
  position: absolute;
  background: #fff;
  width: 200px;
  right: -200px;
  top: -35px;
  padding: 13px;
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}
.share:hover .share-menu{
  opacity: 1;
  pointer-events: auto;
}