/* #Starting😎😎😎 || Mobile 📲📲📲 firts || Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 

body {
    min-height: 100vh;
    width: 100%;
    background: #00FF41;

}



/*                              Pc                                      */
@media (min-width: 960px) {
    
    body{
        background: #B6FF00;
    }
    

}




                                                                                                                                                                                                                                                                                                                                               
