*{
    /* background: red !important; */
}



#sec1,.sec{
    
    /* background: red; */
    
    width: 100%;
    /* min-height: 10vh; */
}
/* #sec1 *{
    width: 100%;
} */

#sec1_top_img_container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#sec1_top h4,h3{
    
    /* color: red !important; */
    text-align: center;
    width: 100% !important;
    
    margin-inline: auto !important;
    
}
#sec1_top_intro{
    
    background: red;
    min-width: 100% !important;
}
/* .op{
    
    width: 100% !important;
} */



#sec1_top img{
    
    min-width: 340px;
    width: 50%;
}

#sec1_center{
    
    
    display: grid;
    grid-template-rows: 1fr;
    
    height: 250px;
    width: 100% !important;
    
}    
#sec1_btn_container{
    
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 8px;
    
    width: 200px;
    max-height: 20px;
    
    margin-inline: auto;
}
#btn1{
    
    
}
.btn{
    
    border: none !important;
    height: 35px !important;
    
}
/* .sec1_top_intro{
    
    width: 100% !important;
} */
#sec1_btn_container .btn1{
    
    /* background: #EDEEFF !important; */
    /* color: #0015FF !important; */
    border: var(--border-color) !important;
        background: var(--gradient-1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-style: bold !important;
    font-weight: 900 !important;
    /* font-size: 20px; */
}
#sec1_btn_container .btn2,.btn3{
    
    color: #FFFFFF !important;
}


#sec1_btn_container .btn3{
    
    grid-column-start: 1;
    grid-column-end: -1;
    background: #EDEEFF !important;
    color: #000000 !important;
    /* font-size: 20px; */
    /* box-shadow:  18px 18px 36px #0000d4,
             -18px -18px 36px #0000ff; */    
             
             
             
             
}


#secured h3,#secured h4{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100% !important;
}
#secured h4{
    
    font-size: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    margin-inline: auto !important;
    padding: 0 !important;
} 


#secured h3 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    margin-inline: auto !important;
    
    
}




#sec1_bottom{
    
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    /* flex-direction: row; */
    /* column-gap: 5px; */
    row-gap: 10px;
    
    width: 100%;
    min-height: 100px;
}


#sec1_bottom li{
    
    background: var(--primary-bg);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF !important;
    display: grid;
    /* grid-template-columns: 4fr 6fr; */
    grid-template-rows: 40px 100px;

    min-height: 50px;    
    width: 70% !important;
    min-width: 350px;
    
    padding: 2rem !important;
    margin-inline: auto !important;
    
    
}
#sec1_bottom li h2{
    
    
}

#sec1_bottom li h4,#sec1_bottom li h2{
    
    
    display: flex;
    align-items: center;
    /* justify-content: center; */
    
    
    width: 100%;
    
    
    margin: 0 !important;
    padding: 0 !important;
}
.sec1_btns{
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    min-width: 200px;
    min-height: 50px;
}
























#paul-pogba-card{
    
    margin-top: 2rem !important;
    font-size: 40px;
    font-style: bold;
    line-break: 280px;
    font-weight: 900;
    background: var(--cryto-dragon-bg);
    border: var(--border-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    margin-inline: auto;
    
    width: 60%;
    min-width: 330px;
    min-height: 400px;
    
    padding-top: 25px !important;
}
.pogba-intro{
    
    
    width: 100%;
    padding-left: 20px !important;
}

#paul-pogba-card a{
    
    font-size: 20px;
    border: var(--border-color);
    border-radius: 15px;
    
    padding: 0.6rem !important;
    /* margin-bottom: 2rem !important; */
    
    height: 50px;
    width: 100px;
}

#paul-pogba-card img{
    
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
    margin-top: 1rem;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
}


.extra-text-1o1{
    
    /* background: var(--primary-bg); */
    margin-top: 2rem !important;
    font-size: 20px;
    /* color: #000000 !important; */
    font-style: bold;
    font-weight: 900;
    
    width: 60%;
    min-width: 360px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    line-break: 360px;
    /* padding: 0 25%; */
    
    margin-inline: auto !important;
    /* margin-top: 2rem; */
}
.main-tx{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img1-gd{
    
    
    max-height: 30px;
    max-width: 90px;
}

.extra-text-1o1 img{
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    
    min-height: 70px;
    min-width: 70px;
    
}










.extra-text-1o2,.extra-text-1o3{

    
    font-size: 30px;
    color: #000000 !important;
    font-style: bold;
    font-weight: 900;
    border: var(--border-color);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   
    width: 60%;
    min-width: 340px;
    min-height: 300px;
    
    
    margin-inline: auto !important;
    margin-top: 1rem !important;
    
}

.extra-text-1o2 .main-tx,.extra-text-1o3 .main-tx{
    
    flex-direction: column;
    width: 100% !important;
    text-align: center !important;
    
    
}




#pt-t img{
    
    /* background: red !important; */
    height: 150px;
    width: 200px;
    
    margin: 1rem auto !important;    
}

#pt-b,#presentation-dragons{
    
    /* margin-top: 2.5rem !important; */
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    
    
    padding: 2rem 0 !important;
}


#dragon-auction li{
    
    padding: 0 1rem !important;
}


.rayarity-btn{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    /* padding: 1rem !important; */
    background: #EBFFF5 !important;
    color: #000114 !important;
    
    width: 120px;
    height: 35px;
    
    
    margin: 1rem 0 !important;
}
.price-btn{
    
    margin-top: 0.5rem !important;
    border: var(--border-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    
    margin-inline: auto;
    
}

.price-btn-1o1{
    
    margin-top: 0.5rem !important;
    border: var(--border-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 90%;
    height: 70px;
    
    
    /* margin-inline: auto; */
    margin: 2rem auto !important;
    
}

.extra-text-1o3 .text-muted,.extra-text-1o3 .main-tx{

    
    /* background: red; */
    width: 100% !important;
    text-align: center !important;
    
    margin-inline: auto;
}
    
    


#dragon-auction li .text-muted{
    
    /* background: red; */
    text-align: left !important;
    margin-inline: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}


/* .glow-text{
    
    background: red !important;
    width: 100% !important;
    
} */





.mutant-ds{
    
    margin-inline: auto !important;
}
.extra-text-1o3{
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    
    margin-top: 2rem !important;
    padding: 2rem 0 !important;
}






.pb-bt,.pb-ttt{
    
    margin-top: 3rem !important;
}

.b-tb{
    
    border-top: var(--border-color);
    border-bottom: var(--border-color);
    
}


.mt-1{
    
    margin-top: 2rem !important;
}
